<table>
    <tbody>
        <tr>
            <td><h2>Single Record</h2></td>
        </tr>
        <tr>
            <td>ID</td>
            <td>:</td>
            <td> <%= user_array._id %> </td>
        </tr>
        <tr>
            <td>Name</td>
            <td>:</td>
            <td> <%= user_array.adminname %></td>
        </tr>
        <tr>
            <td>Details</td>
            <td>:</td>
            <td> <%= user_array.adminemail %></td>
        </tr>
        <tr>
            <td>Salary</td>
            <td>:</td>
            <td> <%= user_array.adminmobile %></td>
        </tr>
        <!--<tr>
            <td>categoey</td>
            <td>:</td>
            <td> <%= user_array.adminpassword %></td>
        </tr>-->
            
    </tbody>
</table>