<table>
    <tbody>
        <tr>
            <td><h2>Single Record</h2></td>
        </tr>
        <tr>
            <td>ID</td>
            <td>:</td>
            <td> <%= user_array._id %> </td>
        </tr>
       
        <tr>
            <td>Name</td>
            <td>:</td>
            <td> <%= user_array.username %></td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>:</td>
            <td> <%= user_array.usergender %></td>
        </tr>
        <tr>
            <td>Email</td>
            <td>:</td>
            <td> <%= user_array.useremail %></td>
        </tr>
        <tr>
            <td>Mobile</td>
            <td>:</td>
            <td> <%= user_array.usermobile %></td>
        </tr>
        <tr>
            <td>Address</td>
            <td>:</td>
            <td> <%= user_array.useraddress %></td>
        </tr>
        <!--<tr>
            <td>Password</td>
            <td>:</td>
            <td> <%= user_array.userpassword %></td>
        </tr>-->
    </tbody>
</table>