<table>
    <tbody>
        <tr>
            <td><h2>Single Record</h2></td>
        </tr>
        <tr>
            <td>ID</td>
            <td>:</td>
            <td> <%= user_array._id %> </td>
        </tr>
        <tr>
            <td>Date</td>
            <td>:</td>
            <td> <%= user_array.bookingdate %></td>
        </tr>
        <tr>
            <td>Details</td>
            <td>:</td>
            <td> <%= user_array.bookingdetail %></td>
        </tr>
        <tr>
            <td>Booking</td>
            <td>:</td>
            <td> <%= user_array.userbooking %></td>
        </tr>
        <tr>
            <td>Status</td>
            <td>:</td>
            <td> <%= user_array.bookingstatus %></td>
        </tr>
            
    </tbody>
</table>